# Design constraints
TEMPERATURE=22 C;

NET "button0" LOC = D6;
NET "button1" LOC = C6;
NET "ctrl_bus[0]" LOC = B8;
NET "ctrl_bus[1]" LOC = A8;
NET "ctrl_bus[2]" LOC = D9;
NET "ebi_address[0]" LOC = F15;
NET "ebi_address[1]" LOC = F16;
NET "ebi_address[2]" LOC = C17;
NET "ebi_address[3]" LOC = C18;
NET "ebi_address[4]" LOC = F14;
NET "ebi_address[5]" LOC = G14;
NET "ebi_address[6]" LOC = D17;
NET "ebi_address[7]" LOC = D18;
NET "ebi_address[8]" LOC = H12;
NET "ebi_address[9]" LOC = G13;
NET "ebi_address[10]" LOC = E16;
NET "ebi_address[11]" LOC = E18;
NET "ebi_address[12]" LOC = K12;
NET "ebi_address[13]" LOC = K13;
NET "ebi_address[14]" LOC = F17;
NET "ebi_address[15]" LOC = F18;
NET "ebi_address[16]" LOC = H13;
NET "ebi_address[17]" LOC = H14;
NET "ebi_address[18]" LOC = H15;
NET "ebi_address[19]" LOC = H16;
NET "ebi_address[20]" LOC = G16;
NET "ebi_address[21]" LOC = G18;
NET "ebi_address[22]" LOC = J13;
NET "ebi_cs" LOC = M13;
NET "ebi_data[0]" LOC = N18;
NET "ebi_data[1]" LOC = N17;
NET "ebi_data[2]" LOC = M18;
NET "ebi_data[3]" LOC = M16;
NET "ebi_data[4]" LOC = L18;
NET "ebi_data[5]" LOC = L17;
NET "ebi_data[6]" LOC = K18;
NET "ebi_data[7]" LOC = K17;
NET "ebi_data[8]" LOC = J18;
NET "ebi_data[9]" LOC = J16;
NET "ebi_data[10]" LOC = H18;
NET "ebi_data[11]" LOC = H17;
NET "ebi_data[12]" LOC = L16;
NET "ebi_data[13]" LOC = L15;
NET "ebi_data[14]" LOC = K16;
NET "ebi_data[15]" LOC = K15;
NET "ebi_re" LOC = N14;
NET "ebi_we" LOC = L14;
NET "fpga_clk" LOC = L12;
NET "gpio_bus[0]" LOC = B3;
NET "gpio_bus[1]" LOC = A3;
NET "gpio_bus[2]" LOC = B4;
NET "gpio_bus[3]" LOC = A4;
NET "gpio_bus[4]" LOC = C5;
NET "gpio_bus[5]" LOC = A5;
NET "gpio_bus[6]" LOC = B6;
NET "gpio_bus[7]" LOC = A6;
NET "gpio_bus[8]" LOC = C7;
NET "gpio_bus[9]" LOC = A7;
NET "gpio_bus[10]" LOC = D8;
NET "gpio_bus[11]" LOC = C8;
NET "led0" LOC = B2;
NET "led1" LOC = A2;

NET "fpga_clk" TNM_NET = fpga_clk;
TIMESPEC TS_fpga_clk = PERIOD "fpga_clk" 16.666666666 ns HIGH 50%;
